@import '../../styles/variables';

.footer {
  position: fixed;
  width: 50%;
  top: 360px;
}
.fa-download {
  opacity: 0.7;
}
.download__resume {
  text-decoration: none;
  text-align: center;
  display: inherit;
  font-family: $contentCapsFont;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 7;
}
.download__resume:hover {
  .fa-download {
    color: $blue;
  }
}

@media only screen and (max-width: 1024px)  { /* Tablet */
  .footer {
    position: relative;
    max-width: 600px;
    width: auto;
    margin: 30px auto 0;
    top: auto;
  }
}
